  <li>{{#link-to 'question' question.id}}
    {{question.body}} {{/link-to}}
    <br> - by {{question.author}}
    {{update-question question=question update="update"}}
    <button style="btn btn-primary" {{action 'delete' question}}>Delete</button>
  </li>
<!-- {{#link-to 'rental' rental.id}}{{rental.owner}}'s {{rental.type}} in {{rental.city}} {{/link-to}} -->
