<qn>{{question.body}}</qn>
<br> <hr>
Additional Notes: <nts>{{question.notes}}</nts>
<br><hr>
 - by {{question.author}}
 <button class="btn btn-default" {{action 'addToFavorites' question}}>Add to Favorites</button>
<button class="btn btn-default" {{action 'delete' question}}>Delete Question</button>
 <h2> Answers </h2>
 <ul>
   {{#each question.answers as |answer|}}
     {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
   {{/each}}
 </ul>
